<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>Phones</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js" defer></script>

  <script src="js/component.js" defer></script>
  <script src="js/phoneViewer.js" defer></script>
  <script src="js/phoneCatalogue.js" defer></script>
  <script src="js/search.js" defer></script>
  <script src="js/page.js" defer></script>
  <script src="js/app.js" defer></script>
</head>

<body>

<div class="view-container" data-component="page">
  <div class="view-frame">

    <div class="container-fluid">
      <div class="row">

        <!--Sidebar content-->
        <div class="col-md-2">
          <div data-component="filter">
            Search: <input type="text">
          </div>

          <div data-component="sorter"></div>
        </div>

        <!--Body content-->
        <div class="col-md-10">

          <div data-component="phoneCatalogue"></div>

          <div class="js-hidden" data-component="phoneViewer"></div>

      </div>

      </div>
    </div>

  </div>
</div>

<script type="text/template" id="sorter-template">
  Sort by:
  <select>
    <% items.forEach(function(item) { %>
    <option value="<%- item.value %>"><%- item.title %></option>
    <% }); %>
  </select>
</script>

<script type="text/template" id="phone-catalogue-template">
  <p>Phone catalogue</p>

  <ul class="phones">
    <% phones.forEach(function(phone) { %>
    <li class="thumbnail phone-listing" data-selector="phoneItemContainer" data-phone-id="<%-phone.id%>">
      <a href="#/phones/<%-phone.id%>" data-selector="openTrigger" class="thumb">
        <img src="<%= phone.imageUrl %>" alt="<%-phone.name%>">
      </a>
      <a href="#/phones/<%-phone.id%>" data-selector="openTrigger"><%= phone.name %></a>
      <p><%= phone.snippet %></p>
    </li>
    <% }); %>
  </ul>
</script>

<script type="text/template" id="phone-viewer-template">
  <button data-selector="backButton">Back</button>

  <div class="phone-images">
    <img class="phone active" src="<%- phone.imageUrl %>">
  </div>

  <h1><%- phone.name %></h1>
  <h2><%- phone.id %></h2>

  <p><%- phone.snippet %></p>
</script>

</body>

</html>