<button data-selector="backButton">Back</button>

<div class="phone-images">
  <img class="phone active" src="{{ phone.images.[0] }}">
</div>

<h1>{{ phone.name }}</h1>
<h2>{{ phone.id }}</h2>

<p>{{ phone.description }}</p>